.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    border: 2px solid #000000;
}

.form__item {
    margin-bottom: 20px;
    cursor: pointer;
}